/* @import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Lato:200'); */


@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css';


* {

  /* color: white;
    background-color: #4d4d4d; */
  color: white;
  margin: 0;
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  /* text-transform:lowercase; */
  font-family: 'Ubuntu', sans-serif;
  /* font-family:Bebas Neue; */

}


header {
  position: fixed;
  /* color: red; */
  /* text-decoration-color: rgb(180, 96, 96); */
  /* background: transparent; */
  z-index: +6;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 1% 4%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* .btn-4 span{
    color: rgb(226, 2, 255);
  } */
.header-scrolled {
  top: 0px;
  position: fixed;
  /* font-size: 9px; */
  backdrop-filter: blur(10px);
  /* color: rgb(255, 0, 0); */
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  box-shadow: 0px 5px 10px -3px rgba(255, 0, 0, 2.1);
  z-index: 1;

}

.checkbox2 {
  display: none;
}

.body {
  position: relative;
  top: 6em;
  /* background-color: rgb(97, 156, 156); */
}

.option {
  z-index: 2;

  cursor: pointer;
  font-size: 1.2rem;
  width: 36%;
  /* height: 4em; */
  display: inline-flex;
  justify-content: space-around;
}
.resume{
  top: 2em;
  padding: 5px;
  font-size: 1.2em;
  /* color: rgb(0, 0, 0); */
  /* font-size: -3em; */
  background:transparent;

  height: 48px;
  border: 2px solid white;
  width: 128px;
}
/* ---------start-----resume nutton naimation------------ */

/* button{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all .5s cubic-bezier(0.390, 0.500, 0.150, 1.360);
  } */
  
  /* button.resume {
    color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0 0px 0px 2px inset;
  } */
  
  /* button.resume:hover {
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 100;
      color: #F3F5F7;
    box-shadow: #003B7A 0 80px 0px 2px inset;
  } */
  

/* ---------end-----resume nutton naimation------------ */

/* .coder {
  display: block;
  left: 69%;
  top: 16.5%;
  position: absolute;
 background-color: #CD201F;
  height: 28em;
  width: 32em;
} */


/* --------------------------start-------code from  codepen-----glitch-------------------------------------- */

/* @import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100'; */


.container {
  height: 100%;
  width: 100%;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text {
  font-weight: bold;
  font-size: 19px;
  color: #ffffff;
}

.dud {
  color: #ff0000;
}


/* ---------------------------end------code from  codepen------------------------------------------- */

/* .option_link{
   width: 8rem;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: transparent;
} */

/* .logo{
    
    /* padding-left: 3%; */
/* background-color: aqua; */
/* left:17%;
    height: 58px;   
} */
.propic {
  display: inline-block;
  z-index: -3;
  border-radius: 50%;

  /* top: 50%;
  left: 50%; */
  height: 196px;
}

.aboutme {
  display: flex;
  padding-top: 7%;
  /* position: absolute; */
  /* top: 10%; */
  /* z-index: -10; */
  height: 30em;
  /* background-color: blueviolet; */
  display: grid;
  place-items: center;
  /* align-items: center;
    justify-content: center; */
}

.dics {
  font-weight: 300;
  text-align: center;
  padding: 2% 15% 0% 15%;
  font-size: 1.2em;
  line-height: 1.5;
}

.skill-container {
  margin-top: 17em;
  padding-top: 1px;
}

.skill {
  /* background-color: brown; */

  margin-top: 5%;
  margin-bottom: 3%;
  font-size: 5em;
  display: grid;
  place-items: center;

}

/* .pbox-1{
    background-color: beige;
} */
.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5em;
  height: 20em;
  /* height: 60%; */

}

.lname {
  justify-content: center;
  /* background-color: #CD201F; */
  display: flex;
  width: auto;
  padding: 15px;
  align-items: center;
}

.lang {
  margin-right: 10px;
  /* left: 5%; */
  height: 5em;
  /* width: auto; */
}

.hor1,
.hor2,
.hor3 {
  /* display:none; */
  height: 8em;
  /* width: 23em; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lname:hover {
  /* background-color: #000000; */
  /* color: white; */
  transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
  box-shadow: 0px 5px 10px -3px rgba(255, 0, 0, 2.1);
}

.project {
  /* margin-top: 19%;
    margin-top: 10%; */
  padding-top: 8%;
  font-size: 3em;
  display: grid;
  place-items: center;
}

.boxes {
  /* position: absolute; */
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: row;
  font-size: 3em;
  display: flex;
  place-items: center;
  justify-content: space-evenly;
  /* top: 50%;
    left: 50%; */
  height: 10em;
}

.pbox {
  box-shadow: 0px 5px 10px -3px rgba(255, 0, 0, 2.1);
  /* border: 1px solid rgb(0, 0, 0); */
  /* background-color: aqua; */
  height: 194px;
display: flex;
align-items: center;
justify-content: center;

  width: 194px;
}

.pbox span {


  font-size: 18px;
}


.blgs {
  /* margin-top: -15em; */
  margin-bottom: 34%;
  display: grid;
  place-items: center;
}

.blog {
  margin-top: 7%;
  margin-bottom: 25%;
  font-size: 3em;
  display: grid;
  place-items: center;
}

.footer {

  margin-top: 10%;
  margin-bottom: 4%;
  display: grid;
  place-items: center;
}

.c-m {
  margin-bottom: 1.5em;
  font-size: 3em;
}

.c-m ::before {
  background-color: #cc2366;
  height: auto;
  position: absolute;
  content: "if you want to";
}


/* .cont-me {
  cursor: pointer;
 
  /* padding: 5%;
  width: 50%; 
  display: flex; 
 background-color: #ff0000; 
 justify-content: center;

}*/

/* .footer{
    background-color: #1a1a1a;
} */





/* ----------------social media icon------------- */

ul.submenu {
  font-size: 2em;
  left: -25px;
  /* background-color: #212121; */
  border-radius: 5px;
  display: inline-block;
  padding: 4px 10px;
  margin: 0;
  /* overflow: hidden; */
}

ul.submenu li {
  display: inline-block;
}

ul.submenu li a i.fa {
  padding: 16px;
  display: inline-block;
  border: 1px solid transparent;
  color: #ccc;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin: 15px;
  text-align: center;
  line-height: 30px;
  position: relative;
  z-index: 2;
}

ul.submenu li a i.fa::after {
  content: "";
  height: 0%;
  width: 0%;
  position: absolute;
  top: -80%;
  bottom: -170%;
  left: -100%;
  right: -180%;
  /* padding: -23px; */
  margin: auto;
  border: 0px solid transparent;
  border-radius: 200px;
  opacity: 0;
  z-index: -1;
  transition: all ease 0.5s;
}

ul.submenu li a:hover i.fa::before {
  color: #fff;
}

ul.submenu li a:hover i.fa-facebook::after {
  height: 200%;
  width: 200%;
  background-color: #3b5998;
  border-radius: 0px;
  opacity: 1;
}

ul.submenu li a:hover i.fa-twitter::after {
  height: 200%;
  width: 200%;
  background-color: #1dcaff;
  border-radius: 0px;
  opacity: 1;
}

ul.submenu li a:hover i.fa-github::after {
  height: 200%;
  width: 200%;
  background-color: #171515;
  border-radius: 0px;
  /* justify-content: center; */
  opacity: 1;
}

ul.submenu li a:hover i.fa-instagram::after {
  height: 200%;
  width: 200%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
  /* background-color: #8a3ab9; */
  border-radius: 0px;
  opacity: 1;
}

ul.submenu li a:hover i.fa-linkedin::after {
  height: 200%;
  width: 200%;

  background-color: #0077b5;
  border-radius: 0px;
  opacity: 1;
}



/* ----------------social media icon----------- */


/* -----------Tarun---- name animation------------ */

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #d61515;
  --color-5: #ea490f;
}

.logo {
  font-family: "Exo", sans-serif;
  font-size: 2vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  /* margin: auto; */
  text-transform: uppercase;
  background: linear-gradient(219deg,
      var(--color-1) 19%,
      transparent 19%, transparent 20%,
      var(--color-2) 20%, var(--color-2) 39%,
      transparent 39%, transparent 40%,
      var(--color-3) 40%, var(--color-3) 59%,
      transparent 59%, transparent 60%,
      var(--color-4) 60%, var(--color-4) 79%,
      transparent 79%, transparent 80%,
      var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* --------------------------- */


/* -------------------------hover------------- */
.option {
  display: flex;
  flex-direction: row;
  align-items: start;
  list-style-type: none;
}

.option-list {
  padding: 6px 5px;
}

.option-list{

  position: relative;
  display: block;
  padding: 4px 0;
  font-family: Lato, sans-serif;

  color: #ecf0f1;
  /* color: #3498db; */
  /* text-decoration: none; */
  text-transform: uppercase;
  transition: 0.5s;
}
a{
  text-decoration: none;
}

.option-list::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .5s;
}

/* a:hover {
  } */

.option-list:hover::after {
  color: #3498db;
  transform: scaleX(1);
  transform-origin: left;
}




/* ------------------end of btn-------hover------------- */



/* --------------start---------- background animation--------------- */


@import "compass/css3";


.universe {
  z-index: -10000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(120%);
  background-color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.universe-container {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgba(33, 39, 80, 1) 10%, #020409 100%);
}

.content {
  width: inherit;
  height: inherit;
}

#universe {
  width: 100%;
  height: 100%;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
  z-index: 100000;
}

/* --------------end---------- background animation--------------- */

/* h1 {
  font-family: "Exo", sans-serif;
  background: linear-gradient(219deg,
      var(--color-1) 19%,
      transparent 19%, transparent 20%,
      var(--color-2) 20%, var(--color-2) 39%,
      transparent 39%, transparent 40%,
      var(--color-3) 40%, var(--color-3) 59%,
      transparent 59%, transparent 60%,
      var(--color-4) 60%, var(--color-4) 79%,
      transparent 79%, transparent 80%,
      var(--color-5) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */




























/* start mobile view 👇🏼 */


@media only screen and (max-width: 550px) {


  /* .btn-holder {
    display: none;
  } */

  body {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    background-color: #ffffff;
    /* display: grid; */
    /* place-items:center; */
  }

  header {
position: fixed;
    /* color: red; */
    /* text-decoration-color: rgb(180, 96, 96); */
    /* background: transparent; */
    padding: 3% 6%;
    z-index: +6;
   
    /* display: flex;
  width: 92%; */
    /* align-items: center; */
    /* justify-content: space-between; */
  }

  .aboutme {

    display: flex;
    padding-top: 15%;
    position: relative;
    height: 397px;
    display: grid;
    place-items: center;
    /* left: 1em; */
    /* z-index: -10; */
    /* top: 10%; */
    /* background-color: blueviolet; */

  }

  .logo {
    font-size: 6vw;
  }

  #hamburger {
    display: block;
    /*padding:10px ;
  background-color: #0077b5;
  width: 60px;
  height: 60px;*/

  }



  /*----start------hamburger animation---------- */
  #checkbox2 {
    visibility: hidden;
  }

  .hamburger {

    margin: 0 auto;
    margin-top: 4px;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .bar {
    /*   display: flex; */
    /*   margin: 6px; */
    /*   flex-direction: column; */
    background-color: rgb(255, 255, 255);
    /*   width: 2em;
  height: 2px; */
    /* display: block; */
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
    padding: 0;
    width: 30px;
    height: 4px;
  }


  .bar1 {
    top: 0;
  }

  .bar2,
  .bar3 {
    top: 13.5px;
  }

  .bar3 {
    right: 0;
  }

  .bar4 {
    bottom: 0;
  }

  .checkbox2:checked+label>.hamburger2>.bar1 {
    transform: translateX(40px);
    background-color: transparent;
  }

  .checkbox2:checked+label>.hamburger2>.bar2 {
    transform: rotate(45deg);
  }

  .checkbox2:checked+label>.hamburger2>.bar3 {
    transform: rotate(-45deg);
  }

  .checkbox2:checked+label>.hamburger2>.bar4 {
    transform: translateX(-40px);
    background-color: transparent;
  }

  /*-----end-----hamburger animation---------- */

  /* .coder {
  display: none;
  left: 7%;
  
  top: 108.5%;
  position: absolute;
  background-color: #CD201F;
  height: 21em;
  width: auto;
} */
  .skill-container {
    height: auto;
    margin-top: 22em;
    padding-top: 1px;
  }
  .skill{
    margin-bottom: 3%;
    top: .7em;
    bottom:.8em ;
  }

  .skills {
    /* position: relative; */
    height: auto;
    margin-top: 1em;
    font-size: 2em;
    /* background-color: aquamarine; */
    display: flex;
    /* justify-content: space-around; */

    /* height: 80%; */
    flex-direction: column; 
     align-items: center;
  }

  .hor1,
  .hor2,
  .hor3 {
    pointer-events: none;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    /* margin: 3em; */
    flex-direction: column;
    /* background-color: #0077b5; */
    align-items: center;
    /* display: none; */
  }

  .lname {
    font-size: .7em;
    height: auto;
    width: auto;
    margin-top: 1em;
    /* padding:50px; */
  }

  .lang {

    margin-right: 10px;
    /* left: 5%; */
    height: 5em;
    /* width: auto; */
  }

  .boxes {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pbox {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;
    height: 100px;
    width: 207px;
  }



  .option {
    /* backdrop-filter: blur(10px); */
    /* pointer-events: none; */
    position: fixed;
    transform: translateX(100%);
    top: 4em;
    right: 0%;
    width: 40%;
    height: 25em;
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 11, 50);
    justify-content: space-evenly;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    box-shadow: -2px 2px 10px -3px rgba(255, 0, 0, 2.1);
    /* z-index: 999; */
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    /* max-width: 69em;
    margin: 0px -37px -12px; */
  }

  .nav-active {
    transform: translateX(0%);
  }

}


/* end mobile view  */